workflow.json
{
  "name": "Telegram AI Lead Qualification Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "start-check",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-start-command",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger').item.json.message.chat.id, text: \"Hey! I'm your AI assistant.\" }) }}",
        "options": {}
      },
      "id": "send-welcome-1",
      "name": "Send Welcome 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger').item.json.message.chat.id, text: \"I help people figure out what parts of their business can be automated. What's something you do manually that feels like it should just... happen?\" }) }}",
        "options": {}
      },
      "id": "send-welcome-2",
      "name": "Send Welcome 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (session_id) VALUES ('tg_{{ $('Telegram Trigger').item.json.message.chat.id }}_{{ Date.now() }}') RETURNING id, session_id",
        "options": {}
      },
      "id": "init-conversation",
      "name": "Init Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 100],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, role, content) VALUES ('{{ $('Init Conversation').first().json.id }}', 'assistant', 'Hey! I''m your AI assistant. I help people figure out what parts of their business can be automated. What''s something you do manually that feels like it should just... happen?') RETURNING id",
        "options": {}
      },
      "id": "save-welcome-message",
      "name": "Save Welcome Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 100],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH found AS (SELECT id, session_id FROM conversations WHERE session_id LIKE 'tg_{{ $('Telegram Trigger').item.json.message.chat.id }}_%' AND status = 'active' ORDER BY created_at DESC LIMIT 1) SELECT id, session_id FROM found UNION ALL SELECT id, session_id FROM (INSERT INTO conversations (session_id) SELECT 'tg_{{ $('Telegram Trigger').item.json.message.chat.id }}_' || extract(epoch from now())::bigint WHERE NOT EXISTS (SELECT 1 FROM found) RETURNING id, session_id) ins LIMIT 1",
        "options": {}
      },
      "id": "upsert-conversation",
      "name": "Upsert Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 400],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, role, content) VALUES ('{{ $('Upsert Conversation').first().json.id }}', 'user', '{{ $('Telegram Trigger').item.json.message.text.replace(/'/g, \"''\") }}') RETURNING id",
        "options": {}
      },
      "id": "save-user-message",
      "name": "Save User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 400],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM messages WHERE conversation_id = '{{ $('Upsert Conversation').first().json.id }}' ORDER BY created_at ASC LIMIT 20",
        "options": {}
      },
      "id": "load-memory",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Store data we'll need later in the workflow\n$execution.customData.set('chat_id', String($('Telegram Trigger').item.json.message.chat.id));\n$execution.customData.set('session_id', String($('Upsert Conversation').first().json.session_id));\n$execution.customData.set('user_message', String($('Telegram Trigger').item.json.message.text));\n\n// Format conversation history for Claude API\nconst inputItems = $input.all();\n\nif (!inputItems || inputItems.length === 0) {\n  throw new Error('No messages from database');\n}\n\n// Build messages array, ensuring alternating roles (Claude requirement)\nconst rawMessages = inputItems.map(item => ({\n  role: item.json.role,\n  content: item.json.content\n}));\n\n// Merge consecutive same-role messages to fix Claude API requirement\nconst messages = [];\nfor (const msg of rawMessages) {\n  if (messages.length > 0 && messages[messages.length - 1].role === msg.role) {\n    messages[messages.length - 1].content += '\\n\\n' + msg.content;\n  } else {\n    messages.push({ role: msg.role, content: msg.content });\n  }\n}\n\n// CUSTOMIZE THIS PROMPT FOR YOUR USE CASE\nconst systemPrompt = `You are a friendly AI assistant chatting on Telegram. You've already introduced yourself, so DO NOT re-introduce or say \"Hey\" again.\n\nYour job is to:\n1. QUALIFY LEADS by understanding their needs\n2. ASK ABOUT: What problems they're facing, what tools they use, their timeline\n3. BE CONVERSATIONAL - friendly, not salesy\n4. COLLECT EMAIL at the end to send them a quote\n\nConversation flow:\n- First: Acknowledge their pain point, ask what tools they currently use\n- Second: Ask how often this task happens (triggered vs scheduled)\n- Third: Ask about timeline (ASAP vs exploring)\n- Fourth: Say you have a good picture, ask for email to send quote\n- Fifth: Confirm email saved, team will be in touch within 24 hours\n\nKeep responses SHORT (2-3 sentences max). Be warm but professional.\n\nIf they provide an email address, respond with confirmation and end the conversation.\n\nDO NOT make up pricing. Say the team will provide a custom quote.`;\n\nreturn [{\n  json: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 300,\n    system: systemPrompt,\n    messages: messages\n  }\n}];"
      },
      "id": "format-messages",
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// TELEGRAM TYPING ANIMATION + CLAUDE API CALL\n// =============================================================================\n// This node shows an animated typing indicator while waiting for Claude's response.\n// \n// WHY THIS EXISTS:\n// Telegram's sendChatAction 'typing' API returns success but NEVER displays for bots.\n// This is a known Telegram limitation - bots don't have 'Last Seen' status.\n// \n// HOW IT WORKS:\n// 1. Send a dots message: ●○○\n// 2. Start animation loop (non-blocking promise): ●○○ → ○●○ → ○○● \n// 3. Call Claude API (awaits while animation runs)\n// 4. Stop animation and delete dots message\n// 5. Return Claude's response\n//\n// The animation promise is invoked but NOT awaited, so it runs concurrently.\n// =============================================================================\n\n// IMPORTANT: Replace these with your actual values\nconst botToken = 'YOUR_BOT_TOKEN_HERE';  // Get from @BotFather\nconst anthropicKey = 'YOUR_ANTHROPIC_API_KEY_HERE';  // Get from console.anthropic.com\n\nconst chatId = $execution.customData.get('chat_id');\nconst inputData = $input.first().json;\n\n// 1. Send initial dots message\nconst sendResult = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.telegram.org/bot${botToken}/sendMessage`,\n  body: { chat_id: chatId, text: '●○○' },\n  json: true\n});\nconst dotsMessageId = sendResult.result.message_id;\n\n// 2. Animation control\nlet stopAnimation = false;\nconst dots = ['○●○', '○○●', '●○○'];\n\n// Start animation (non-blocking - do NOT await this promise)\nconst animatePromise = (async () => {\n  for (let i = 0; i < 240 && !stopAnimation; i++) {  // 60 seconds max\n    await new Promise(r => setTimeout(r, 250));  // 250ms between frames\n    if (stopAnimation) break;\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.telegram.org/bot${botToken}/editMessageText`,\n        body: { chat_id: chatId, message_id: dotsMessageId, text: dots[i % 3] },\n        json: true\n      });\n    } catch (e) { break; }  // Exit if message deleted\n  }\n})();\n\n// 3. Call Claude API (this awaits while animation runs concurrently)\nconst claudeResponse = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': anthropicKey,\n    'anthropic-version': '2023-06-01',\n    'content-type': 'application/json'\n  },\n  body: {\n    model: inputData.model,\n    max_tokens: inputData.max_tokens,\n    system: inputData.system,\n    messages: inputData.messages\n  },\n  json: true\n});\n\n// 4. Stop animation and delete dots message\nstopAnimation = true;\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${botToken}/deleteMessage`,\n    body: { chat_id: chatId, message_id: dotsMessageId },\n    json: true\n  });\n} catch (e) { /* ignore if already deleted */ }\n\n// 5. Return Claude response (same format as HTTP Request node)\nreturn [{ json: claudeResponse }];"
      },
      "id": "claude-ai-typing",
      "name": "Claude AI (with Typing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, role, content) VALUES ((SELECT id FROM conversations WHERE session_id = '{{ $execution.customData.get(\"session_id\") }}'), 'assistant', '{{ $json.content[0].text.replace(/'/g, \"''\") }}') RETURNING id",
        "options": {}
      },
      "id": "save-assistant-message",
      "name": "Save Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 400],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check for and extract email from message\nconst message = $execution.customData.get('user_message');\nconst emailMatch = message.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\nconst email = emailMatch ? emailMatch[0] : null;\nconst hasEmail = email !== null;\n\nreturn [{\n  json: {\n    email: email,\n    hasEmail: hasEmail,\n    session_id: $execution.customData.get('session_id'),\n    chat_id: $execution.customData.get('chat_id')\n  }\n}];"
      },
      "id": "extract-email",
      "name": "Extract Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-for-email",
      "name": "Check for Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH conv AS (SELECT id FROM conversations WHERE session_id = '{{ $json.session_id }}'), summary AS (SELECT string_agg(role || ': ' || content, E'\\n' ORDER BY created_at) as chat FROM messages WHERE conversation_id = (SELECT id FROM conv)) INSERT INTO leads (conversation_id, email, chat_summary) VALUES ((SELECT id FROM conv), '{{ $json.email }}', (SELECT chat FROM summary)) RETURNING id, email, chat_summary",
        "options": {}
      },
      "id": "save-lead",
      "name": "Save Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations SET status = 'completed' WHERE session_id = '{{ $('Extract Email').first().json.session_id }}'",
        "options": {}
      },
      "id": "mark-completed",
      "name": "Mark Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2250, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 200, system: 'Summarize this sales chat in 2-3 bullet points for the sales team. Focus on: what they need, what tools they use, and their timeline. Be concise.', messages: [{ role: 'user', content: $('Save Lead').first().json.chat_summary || 'No chat history available' }] }) }}",
        "options": {}
      },
      "id": "summarize-chat",
      "name": "Summarize Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'New lead from Telegram!\\n\\nEmail: ' + $('Save Lead').first().json.email + '\\n\\nChat Summary:\\n' + ($json.content[0].text || 'See database for full conversation') }) }}",
        "options": {}
      },
      "id": "notify-team",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Send Claude's response as Telegram messages\nconst chatId = $execution.customData.get('chat_id');\nconst fullText = $('Claude AI (with Typing)').first().json.content[0].text;\n\n// IMPORTANT: Replace with your bot token\nconst botToken = 'YOUR_BOT_TOKEN_HERE';\n\n// Split by double newline (paragraphs)\nconst paragraphs = fullText.split(/\\n\\n+/).filter(p => p.trim());\n\n// Send each paragraph as a separate message\nfor (let i = 0; i < paragraphs.length; i++) {\n  if (i > 0) await new Promise(resolve => setTimeout(resolve, 500));\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${botToken}/sendMessage`,\n    body: {\n      chat_id: chatId,\n      text: paragraphs[i].trim()\n    },\n    json: true\n  });\n}\n\nreturn [{ json: { sent: true, paragraphs: paragraphs.length } }];"
      },
      "id": "send-telegram-messages",
      "name": "Send Telegram Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Extract Email').first().json.chat_id, text: \"Got it! I've saved your email. The team will be in touch within 24 hours with a custom quote. Thanks for chatting!\" }) }}",
        "options": {}
      },
      "id": "send-closing-message",
      "name": "Send Closing Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is /start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /start?": {
      "main": [
        [
          {
            "node": "Send Welcome 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome 1": {
      "main": [
        [
          {
            "node": "Send Welcome 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome 2": {
      "main": [
        [
          {
            "node": "Init Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Conversation": {
      "main": [
        [
          {
            "node": "Save Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Load Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation History": {
      "main": [
        [
          {
            "node": "Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages": {
      "main": [
        [
          {
            "node": "Claude AI (with Typing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI (with Typing)": {
      "main": [
        [
          {
            "node": "Save Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Assistant Message": {
      "main": [
        [
          {
            "node": "Extract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email": {
      "main": [
        [
          {
            "node": "Check for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Email": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead": {
      "main": [
        [
          {
            "node": "Mark Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed": {
      "main": [
        [
          {
            "node": "Summarize Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Chat": {
      "main": [
        [
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team (Slack)": {
      "main": [
        [
          {
            "node": "Send Closing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-11T00:00:00.000Z",
  "versionId": "5"
}
